# project specific files
Notes.md
tmp/

# image files
*.png
*.jpg

# Haskell
# compilation
*.errors
*.hi
# cabal
dist/
dist-newstyle/
#cabal.project
cabal.project.local
.ghc.environment.*
mailnotify-Linux-x86_64
mailnotify-Linux-x86_64.sha256
# stack
.stack-work/

# Compiled files
*.o
*.so
a.out

# tar, backup, archive files
*.bak
*.tar.gz
*.tar.bz2
*.a
