name: Build

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches: [main]
    # Pattern matched against refs/tags
    tags:
      - '*' # Push events to every tag not containing /

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ghc: ['8.10.7', '9.2.4']
        cabal: [latest]
        os: [ubuntu-latest]
    name: Haskell GHC ${{ matrix.ghc }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup Haskell
        uses: haskell/actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - name: Install external dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libnotify-dev
          sudo apt-get install -y libgtk2.0-dev

      - name: Freeze
        run: cabal freeze

      - name: Restore cabal store
        uses: actions/cache@v3
        with:
          path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

      - name: Build dependencies
        run: cabal build --only-dependencies

      - name: Build & Install
        run: |
          export PATH=~/.cabal/bin:$PATH
          cabal build
          cabal install --install-method=copy --overwrite-policy=always --enable-executable-stripping
          mailnotify --version
          VERSION=$(grep '^version:' mailnotify.cabal | awk '{print $2}')
          EXE_NAME=mailnotify-$VERSION-${{ runner.os }}
          cp ~/.cabal/bin/mailnotify $EXE_NAME
          sha256sum $EXE_NAME > $EXE_NAME.sha256
          # sed -e "s/^pkgver=.*$/pkgver=$VERSION/" aur/PKGBUILD >PKGBUILD
          echo "package_version=$VERSION" >> $GITHUB_ENV
          ls -l

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          body_path: Release.md
          files: mailnotify-*

      - name: Release AUR package
        uses: KSXGitHub/github-actions-deploy-aur@v2.3.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          pkgname: mailnotify-bin
          pkgbuild: PKGBUILD
          assets: |
            aur/.INSTALL
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: release mailnotify-bin ${{ env.package_version }}

